{% load static%}
<!DOCTYPE html>
<html lang="ja">

<head>

    <script src="https://kit.fontawesome.com/b6ad2a1f1b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/destyle.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

</head>

<body>
    <header>
        <p>ここにlogo</p>
        <ul>
        	<li>
        		<label for="header-apimenu">おはやしさん</label>
        		<input type="checkbox" class="header-menu-switch" id="header-apimenu">
        		<ul class="header-menu-contents">
        			<li><a href="{% url 'api_tk2' %}"><i class="fab fa-tiktok"></i> tiktok連携設定</a></li>
        			<li><a href=""><i class="fas fa-user-cog"></i> アカウント設定</a></li>
        		</ul>
        	</li>
        	<li><a href="{% url 'logout' %}">ログアウト</a></li>
        </ul>
    </header>
    <main>
        <nav>
            <div class="sidemenu">
                <ul>
                    <li class="linkitem"><a href="{% url 'campaign_list' %}"><i class="fas fa-folder"></i> キャンペーン</a></li>
                    <li class="groupitem">
                        <p><i class="fas fa-folder"></i> キャンペーン管理</p>
                        <ul>
                            <li><a href="{% url 'campaign_group' %}"><i class="fas fa-list"></i> 一覧</a></li>
                            <li><a href="{% url 'campaign_form' %}"><i class="fas fa-plus"></i> 新規作成</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        {% block content %}
        {% endblock %}

    </main>

</body>

</html>